<!-- navbar.component.html -->
<nav class="navbar">
  <div class="icon-wrapper">
    <button mat-icon-button class="icon" matTooltip="Accueil">
      <mat-icon class="home">home</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltip="Cartes">
      <mat-icon class="map">map</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltip="Musique">
      <mat-icon class="music">music_note</mat-icon>
    </button>
    <button mat-icon-button class="icon" matTooltip="Essence">
      <mat-icon class="gas">local_gas_station</mat-icon>
    </button>
  </div>
</nav>

