<!-- src/app/navbar/navbar.component.html -->
<nav>
  <div class="icon-wrapper">
    <button mat-icon-button class="icon home"
            [class.active]="isActive('home')"
            matTooltip="Accueil"
            (click)="setActive('home')">
      <div class="icon-bg"></div>
      <mat-icon>home</mat-icon>
      <div class="active-indicator"></div>
    </button>
    <button mat-icon-button class="icon map"
            [class.active]="isActive('map')"
            matTooltip="Cartes"
            (click)="setActive('map')">
      <div class="icon-bg"></div>
      <mat-icon>map</mat-icon>
      <div class="active-indicator"></div>
    </button>
    <button mat-icon-button class="icon music"
            [class.active]="isActive('music')"
            matTooltip="Musique"
            (click)="setActive('music')">
      <div class="icon-bg"></div>
      <mat-icon>music_note</mat-icon>
      <div class="active-indicator"></div>
    </button>
    <button mat-icon-button class="icon gas"
            [class.active]="isActive('gas')"
            matTooltip="Essence"
            (click)="setActive('gas')">
      <div class="icon-bg"></div>
      <mat-icon>local_gas_station</mat-icon>
      <div class="active-indicator"></div>
    </button>
  </div>
</nav>
