.carte-preview {
  display: flex;
  flex-direction: column;
  flex: 1; /* Prend tout l'espace disponible */
  background: #e2e6ea;
  color: #495057;
  padding: 10px; /* Déplacer le padding ici */
  box-sizing: border-box; /* Inclure padding dans les dimensions */
  height: 100%; /* Garantir la pleine hauteur */
  border-radius: 16px; /* Conserver le border-radius */

  h2 {
    margin: 0 0 10px 0; /* Ajuster la marge du titre */
  }

  .map-container {
    flex: 1;
    border-radius: 10px; /* Arrondir les coins de la carte */
    overflow: hidden; /* Cacher tout débordement */
  }
}
